<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwOnConfigExceptions="true">

	<variable name="logDirectory" value="${basedir}/Logs" />

	<extensions>
		<add assembly="MJ.NLog.Mongo"/>
	</extensions>

	<targets>
		<target name="mongoDefault"
				xsi:type="AsyncWrapper">
			<target xsi:type="Mongo"
					connectionString="mongodb://localhost:27017/BaseApi"
					collectionName="logs"
					cappedCollectionSize="26214400">
				<property name="ThreadID" layout="${threadid}" bsonType="Int32" />
				<property name="ThreadName" layout="${threadname}" />
				<property name="ProcessID" layout="${processid}" bsonType="Int32"  />
				<property name="ProcessName" layout="${processname:fullName=true}" />
				<property name="UserName" layout="${windows-identity}" />
			</target>
		</target>

	 
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="mongoDefault" />
	</rules>
</nlog>