<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwOnConfigExceptions="true">

	<variable name="logDirectory" value="${basedir}/Logs" />

	<extensions>
		<add assembly="MJ.NLog.Mongo"/>
	</extensions>

	<targets>
		<target name="mongoDefault"
				xsi:type="AsyncWrapper">
			<target xsi:type="Mongo"
					connectionString="mongodb://localhost:27017/BaseApi"
					collectionName="logs"
					cappedCollectionSize="26214400">
				<field name="Properties" bsonType="Object">
					<layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="10">
						<attribute name="ThreadID" layout="${threadid}" encode="false" />
						<attribute name="ProcessID" layout="${processid}" encode="false" />
						<attribute name="ProcessName" layout="${processname:fullName=false}" />
					</layout>
				</field>
				<field name="RequestBody" layout="${event-properties:item=RequestBody}" />
				<field name="RequestBody2" layout="${aspnet-request-posted-body}" />
			</target>
		</target>

	 
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="mongoDefault" />
	</rules>
</nlog>